<link rel="stylesheet" href="/css/allnotes.css" />

<section class="container">
  <header style="">
    <div  class="mt">
      <h3  class="text-gray">
        <i class="fa-solid fa-comment"></i>
        Nueva publicación  {{userName}}
      </h3>
    </div>

    <div  class="m">
      <form
        action="/notes/new-note"
        method="post"
        enctype=""
      class="mt-form"
      >

        <div>
          <input
            type="text"
            id="title"
            name="title"
            minlength="10"
            maxlength="500"
            placeholder="Título"
            required
            class="formInput"
          />
        </div>
        <div class="mt-form">
          <textarea
            type="text"
            name="description"
            minlength="10"
            maxlength="250"
            id="description"
            placeholder="Descripción"
            required
            class="formInput"
          ></textarea>
        </div>

        <div class="mt-form">
          <button
          type="submit"
          class="button-primary"
          >
            <i class="fa fa-upload"></i>
            Publicar
          </button>
        </div>

      </form>
    </div>
    <br />
    <br />
    <br />
    <br />
  </header>

  <aside>

    <img
      class="pick"
      src="/img/pick.webp"
      alt=""
    />
  </aside>

  <article>

  </article>

  <blockquote>

  </blockquote>

  <main>
    <section
      class="contentPublications"
    >
      <h3 class="text-gray">
        <i class="fa-solid fa-comment"></i>
        Publicaciones
      </h3>
      {{#each publicationsAll}}

        <a
          href="/notes/public/{{this._id}}"
          class="publicationsAll link-publication"
        >
          <article>
            <p>{{title}}</p>
          </article>
        </a>
      {{/each}}
    </section>

  </main>

  <footer>
    <h3 class="text-gray mt-form"><i
        class="fa-solid fa-comments"
      ></i>
      Mis publicaciones</h3>

    <div>
      <div>
        {{#if publications}}
          {{#each publications}}
            <a
              href="/notes/edit/{{this._id}}"
              class="decoration-none text-white"
            >
              <div
                class="publications"
              >
                <p style="">{{this.title}}</p>

              </div>
            </a>
          {{/each}}
        {{else}}
        <div class="text-center text-azure">
          No hay publicaciones
        </div>
        <br>
        <br>
        <br>
        {{/if}}
      </div>
    </div>
  </footer>

</section>

<script src="/js/sweetalert.js"></script>

{{> messageAllnotes}}

<script type="module" src="/js/navbar.js"></script>
<script type="module" src="/js/allnotes.js"></script>
