-- Active: 1721414025863@@127.0.0.1@27017@notes
<link rel="stylesheet" href="/css/note-public.css" />


<section class="container">
  <header>
    <div class="mt-60">

      <div >
        <a 
          class="buttonBack"
          href="/notes">
          <i class="fa-solid fa-angle-left"></i>
           &nbsp;Regresar
        </a>
        <br>
        <br>
        <br>
        <h3 class="text-gray">
          <i class="fa-solid fa-comment"></i>
          Publicación
        </h3>
      </div>
    </div>
  </header>
  <main class="mt-60">
    <br>
    <br>
    <div id="editor" class="mt">
/* {{publication.title}} */

/* {{publication.description}} */
    </div>
    <div class="contentLikes">
      <span class="likes-count text-white">{{publication.likes}}</span>
      <span class="text-white"><i class="fa-solid fa-heart"></i></span>

    </div>
  </main>
  <aside class="mt-70">
    <div class="asideReaction">
      <button class="is-fav is-big copy" aria-label="fav" id="btn-like" data-id="{{publication.id}}">
        <span data-text-end="Like❤!" data-text-initial="" class="tooltip"></span>

      </button>
      <button class="is-zap is-big copy" aria-label="zap">
        <span data-text-end="Rayos⚡!" data-text-initial="" class="tooltip"></span>

      </button>

      <button class="is-copy is-big copy" aria-label="copy" id="copyButton">
        <span data-text-end="Copiado!" data-text-initial="" class="tooltip"></span>
        <span>
      </button>


    </div>

    <div class="asideSpace">

    </div>
  </aside>

  <article  class="article-form">
    <br>
    <br>
    <form action="/notes/comment/{{publication.id}}"  method="post">
      <div  class="groupInput" hidden>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{username}}"
        class="formInput" required />
      </div>
      <div  class="groupInput" hidden>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{userEmail}}"
          class="formInput" required />
      </div>
      <div class="groupInput">
        <textarea name="comment" rows="2" class="form-control textareaComment" placeholder="Tu comentario"
      
          required></textarea>
      </div>
      <div class="groupInput">
        <button
        type="submit"
          class="buttonPrimary w-100"
          id="btn-comment">
          <i class="fa fa-comment"></i>
           &nbsp;Comentar
        </button>
      </div>
    </form>
    <br>
    <br>
  </article>

  <footer class="mt-60">
    <h3 class="text-gray">
      <i class="fa-solid fa-comment"></i>
      Comentarios {{comments.length}}
    </h3>
    {{#each comments}}
    <div
      class="cardComment"
      >
      <div>
        <div class="contentDescriptions">
          <div>
        <img src="http://gravatar.com/avatar/{{this.gravatar}}?d=monsterid&s=45" class="border-50" alt="">
          </div>
          <div>
          <time datetime=""> {{isDate}},  {{date}}</time>

          </div>

        </div>
        <br>
        <br>

        <span>{{this.name}}</span>
        <br>
        <br>
        <span>{{this.email}}</span>
        <br><br>
      <div>

        {{this.comment}}

      </div>
      </div>
    </div>
    {{/each}}

  </footer>
</section>


<script type="" src="/js/sweetalert.js"></script>
<script type="module" src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){

  let editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.session.setMode("ace/mode/javascript");
  editor.setOption('wrap', true);



  async function copyClipboard() {
    let content = editor.getValue();
    let spanText = document.querySelector('#spanText');

    let textarea = document.createElement('textarea');
    textarea.value = content;
    document.body.appendChild(textarea);

    textarea.select();
    document.execCommand('copy');

    document.body.removeChild(textarea);
  }

  document.querySelector('.is-copy').addEventListener('mouseenter', copyClipboard);

  const formComment = document.querySelector('form');
  const inputName = formComment.querySelector('input[name="name"]');
  const inputEmail = formComment.querySelector('input[name="email"]');
  const inputComment = formComment.querySelector('textarea[name="comment"]');
  const button = formComment.querySelector('button[type="submit"]');
      button.disabled = true;
  formComment.addEventListener('change',function(e){
    e.preventDefault();
    if(inputName.value.trim() === "" || inputEmail.value.trim() === "" || inputComment.value.trim() === ""){
      button.disabled = true;
    }
    else{
      button.disabled = false;
    }

  })

  })
</script>

{{> messages}}