-- Active: 1721414025863@@127.0.0.1@27017@notes

<link rel="stylesheet" href="/css/signup.css" />

<div  class="mt-60">
  <div>
    <h3 class="text-gray">
      <i class="fa-solid fa-comment"></i>
      Editar publicación
    </h3>
  </div>
  <br />
  <div>
    <form action="/notes/delete/{{publication._id}}" method="post" id="formDeletePub" data-sett="{{publication._id}}"
    class="formOptions"
      >
      <div style="" class="mb-5">
        <a style=""
          href="/notes"
          class="buttonBack"
          >
          <i class="fa-solid fa-angle-left"></i>
          Regresar
        </a>
      </div>
      <div class="mb-5">

        <button
          class="buttonDelete"
          id="deletePub" type="submit">
          <i class="fa-solid fa-trash"></i>
          Eliminar
        </button>
      </div>
    </form>
    <div class="contenFormEdit">

    <form action="/notes/edit-note/{{publication._id}}" method="post" class="formEdit">
      <div class="form-group p-2">
        <input type="text" id="title" name="title" minlength="10" maxlength="500" class="inputEdit"
          placeholder="Título" value="{{publication.title}}" required />
      </div>
      <div class="mt-20">
        <textarea type="text" name="description" id="description" minlength="10" maxlength="250"
          class="textareaEdit"
          placeholder="Descripción" required>{{publication.description}}</textarea>
      </div>
      <br>
      <button
        class="button-primary"
        type="submit">
        <i class="fa fa-upload"></i>
        Enviar
      </button>

      <div class="form-group p-2">
      </div>

    </form>
    </div>
  </div>
</div>
<script type="" src="/js/sweetalert.js"></script>
<script type="" src="/js/editpublication.js"></script>


{{> messageEditPublication}}